.circle {
	position: relative;
	height: 20px;
	width: 20px;
	background-color: brown;
	border-radius: 50%;
	margin: 0;
	padding: 3vmin;
	overflow: hidden;
	animation-duration: 12s;
	animation-name: movesquare;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  }
  
  @keyframes movesquare {
	0% {
	  margin: 0;
	}
	25% {
	  margin: 85% 0 0 0;
	}
	50% {
	  margin: 85% 0 0 85%;
	}
	75% {
	  margin: 0 0 0 85%;
	}
	87.5%{
	  }
	100% {
	  margin: 0;
	  transform:rotateZ(1800deg);
	}
  }